<div class="container-fluid">

  <a class="is-link" href="/my-domains">
    <span class="icon-text">
      <span class="icon">
        <i class="gg-arrow-left-o"></i>
      </span>
      <span>Back to my domains</span>
    </span>
  </a>

  <header class="level mt-4 ">
    <div class="card mr-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Domain </h2>
        <p class="title is-4">{{domain.name}}</p>
      </div>
    </div>
    <div class="card mx-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Status </h2>
        <p class="title is-4">{{domain.status}}</p>
      </div>
    </div>

    <div class="card mx-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Access </h2>
        <p class="title is-4">{{domain.type}}</p>
      </div>
    </div>

    <div class="card ml-2 level-item has-text-centered">
      <div class="card-content">
        <p class="heading">Notifications</p>
        <p id="domain-notification-count" class="title is-4">{{count}}</p>


      </div>
    </div>
  </header>

  <div class="columns">
    <div class="column is-two-third">
      <div class="card block">
        <div class="card-content">
          <h2 class="title is-4">Notifications</h2>
          <div class="table-container">
            <table class="table is-striped">
              <thead>
                <tr>
                  <th>Ghost Title</th>
                  <th>Ghost URL</th>
                  <th>Ghost Visibility</th>
                  <th>Notification Type</th>
                </tr>
              </thead>
              <tbody id="domain-notification-table-body">
                {{#each notifications}}
                <tr>
                  <td>{{ghostTitle}}</td>
                  <td>{{ghostOriginalUrl}}</td>
                  <td>{{ghostVisibility}}</td>
                  <td>{{type}}</td>
                </tr>
                {{/each}}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <h2 class="title is-4">Connection status</h2>
          <div class="block">
            <svg class="mb-1" height="12" width="12">
              <circle id="connection-indicator-sign" cx="6" cy="6" r="6" stroke-width="3" fill="orange" />
            </svg>
            <span id="connection-indicator-text" class="ms-1">Connecting ...</span>
          </div>
          <p><b>Subscription URL:</b></p>
          <pre class="block"><code>/api/domain/{{domain.id}}/notifications/subscribe</code></pre>

          <p><b>Actions: </b></p>
          <div class="is-flex is-justify-content-start">
            <form method="POST" action="/api/domain/{{domain.id}}/notifications/delete">
              <button title="Delete all notifications for this domain" class="button is-danger">
                <span class="icon">
                  <i class="gg-trash"></i>
                </span>
              </button>
            </form>
            <form class="mr-2" method="POST" action="/api/domain/{{domain.id}}/toggle-status">
              <button title="Enable / disable this domain" class="button is-warning">
                <span class="icon">
                  <i class="gg-log-off"></i>
                </span>
              </button>
            </form>
            <form method="POST" action="/api/domain/{{domain.id}}/delete">
              <button title="Delete this domain" class="button is-danger">
                <span class="icon">
                  <i class="gg-trash"></i>
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>

      <div id="connection-notification" class="notification mt-4 is-info is-hidden">
        <button id="connection-notification-close" class="delete"></button>
        <p></p>
      </div>
    </div>
  </div>
</div>

<script src="/js/domain-notifications.js"></script>