<div class="container-fluid">

  <a class="is-link" href="/my-domains">
    <span class="icon-text">
      <span class="icon">
        <i class="gg-arrow-left-o"></i>
      </span>
      <span>Back to my domains</span>
    </span>
  </a>

  <header class="level mt-4 ">
    <div class="card mr-2 level-item has-text-centered">
      <div class="card-content">
        <h1 class="heading is-2">Domain </h1>
        <p class="title">{{domain.name}}</p>
      </div>
    </div>
    <div class="card mx-2 level-item has-text-centered">
      <div class="card-content">
        <h1 class="heading is-2">Status </h1>
        <p class="title">{{domain.status}}</p>
      </div>
    </div>

    <div class="card mx-2 level-item has-text-centered">
      <div class="card-content">
        <h1 class="heading is-2">Access </h1>
        <p class="title">{{domain.type}}</p>
      </div>
    </div>

    <div class="card ml-2 level-item has-text-centered">
      <div class="card-content">
        <p class="heading">Notifications</p>
        <p class="title">{{count}}</p>
      </div>
    </div>
  </header>

  <div class="card block">
    <div class="card-content">
      <h2 class="title is-4">Notifications</h2>
      <div class="table-container">
        <table class="table is-striped">
          <thead>
            <tr>
              <th>Ghost Title</th>
              <th>Ghost URL</th>
              <th>Ghost Visibility</th>
              <th>Notification Type</th>
            </tr>
          </thead>
          <tbody>
            {{#each notifications}}
            <tr>
              <td>{{ghostTitle}}</td>
              <td>{{ghostOriginalUrl}}</td>
              <td>{{type}}</td>
              <td>{{ghostVisibility}}</td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/js/domain-notifications.js"></script>