<div id="domain-notification-modal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">

    <div class="card block">
      <div class="card-content">
        <div class="block">
          <h2 class="title is-4">Connect your domain </h2>
          <ol class="block ml-5">
            <li>Create a new domain (you've just done that)</li>
            <li>Visit <code>https://&#60;ghost-blog&#62;/ghost/#/settings/integrations/new</code> and create one or more Ghost webhooks</li>
            <li>Add the <code>key</code> query and your subscription key as value</li>
            <li>Implement subscription logic in your Ghost theme</li>
          </ol>
          <p><b>Subscription URL</b></p>
          <pre><code>/api/domain/{{domain.id}}/notifications/subscribe</code></pre>
        </div>

        <div class="block">
          <p><b>Subscription Key</b></p>
          <pre><code>{{domain.key}}</code></pre>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="container-fluid">

  <div id="connection-alert" class="message is-hidden">
    <div class="message-header">
      <p>Success!</p>
      <button id="connection-alert-button" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <p></p>
    </div>
  </div>
  <a class="is-link" href="/my-domains">
    <span class="icon-text">
      <span class="icon">
        <i class="gg-arrow-left-o"></i>
      </span>
      <span>Back to my domains</span>
    </span>
  </a>

  <header class="level mt-4 ">
    <div class="card mr-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Domain </h2>
        <p class="title is-4">{{domain.name}}</p>
      </div>
    </div>
    <div class="card mx-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Status </h2>
        <p class="title is-4">{{domain.status}}</p>
      </div>
    </div>

    <div class="card mx-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Access </h2>
        <p class="title is-4">{{domain.type}}</p>
      </div>
    </div>

    <div class="card ml-2 level-item has-text-centered">
      <div class="card-content">
        <p class="heading">Notifications</p>
        <p id="domain-notification-count" class="title is-4">{{count}}</p>
      </div>
    </div>
  </header>


  <div class="columns">
    <div class="column is-two-third">
      <div class="card block">
        <div class="card-content">
          <div class="is-flex is-justify-content-space-between">

            <h2 class="title is-4">Notifications</h2>
            <div>
              <form method="POST" action="/api/domain/{{domain.id}}/notifications/delete">
                <button title="Delete all notifications for this domain" class="button">
                  <span class="icon">
                    <i class="gg-trash"></i>
                  </span>
                </button>
              </form>
            </div>

          </div>

          <div class="table-container">
            <table class="table is-striped">
              <thead>
                <tr>
                  <th>Ghost Title</th>
                  <th>Ghost URL</th>
                  <th>Ghost Visibility</th>
                  <th>Notification Type</th>
                  <th>Created at</th>
                </tr>
              </thead>
              <tbody id="domain-notification-table-body">
                {{#each notifications}}
                <tr>
                  <td>{{ghostTitle}}</td>
                  <td>{{ghostOriginalUrl}}</td>
                  <td>{{ghostVisibility}}</td>
                  <td>{{type}}</td>
                  <td>{{created}}</td>
                </tr>
                {{/each}}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">

          <div class="block">
            <h2 class="title is-4">Realtime server status</h2>
            <p>
              This page includes a list of the latest realtime notifications for your domaion {{domain.name}}.
              Whenever a new notification is created, it will be shown to the left.
              You can find the subscription URL this list uses as a source further below.
            </p>

            <a href="/">Read more about subscriptions and subscription keys</a>
          </div>

          <div class="block">
            <p> <b>Connection status: </b> </p>
            <svg class="mb-1" height="12" width="12">
              <circle id="connection-indicator-sign" cx="6" cy="6" r="6" stroke-width="3" fill="orange" />
            </svg>
            <span id="connection-indicator-text" class="ms-1">Connecting ...</span>
            <button id="connection-control-button" class="button is-primary is-hidden is-block">Reconnect</button>
          </div>



          <div class="block">
            <p><b>Domain actions: </b></p>
            <div class="is-flex is-justify-content-space-between">
              <form class="mr-2" method="POST" action="/api/domain/{{domain.id}}/toggle-status">
                <button title="Enable / disable this domain" class="button is-warning">
                  <span class="icon">
                    <i class="gg-log-off"></i>
                  </span>
                  <span>On/Off</span>
                </button>
              </form>
              <form method="POST" action="/api/domain/{{domain.id}}/delete">
                <button title="Delete this domain" class="button is-danger">
                  <span class="icon">
                    <i class="gg-trash"></i>
                  </span>
                  <span>Delete</span>
                </button>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/domain-notifications.js"></script>