<div class="container-fluid">
  <h1 class="title is-2">Settings</h1>
  <header class="level mt-4">
    <div class="card mr-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Registered domains</h2>
        <p class="title is-4">{{domain.name}}</p>
      </div>
    </div>
  </header>


  <div class="columns">
    <div class="column is-one-half">
      <div class="card block">
        <div class="card-content">
          <h2 class="title is-4">Account data</h2>

          <div class="panel-block is-justify-content-space-between">
            <p>Logged in as:</p>
            <span>{{userJwtPayload.email}}</span>
          </div>
          <div class="panel-block is-justify-content-space-between">
            <p>Assigned role: </p>
            <span>{{userJwtPayload.role}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-half">
      <div class="card block">
        <div class="card-content">
          <h2 class="title is-4">Application settings</h2>

          {{#if adminScope.isAdmin}} {{!-- Start Admin Scope --}}


          <div class="panel-block is-justify-content-space-between">
            <p>{{#if settingsScope.enableUserCreation}} Disable{{else}}Enable {{/if}} user signup</p>
            <form method="POST" action="/api/settings/toggle-user-creation">
              <button title="Toggles whether users can sign up on their own or not" class="button is-primary is-small">
                <span class="icon">
                  <i class="gg-log-off"></i>
                </span>
                <span>{{#if settingsScope.enableUserCreation}} Disable {{else}} Enable {{/if}} user signup </span>
              </button>
            </form>
          </div>
          {{#if adminScope.isSuperUser}} {{!-- Start Superuser Scope --}}
          <div class="panel-block is-justify-content-space-between">
            <p>Disable all domains for this account</p>
            <form method="POST" action="/api/domain/disable-all-domains">
              <button title="Disables realtime notifications for all domains for which this user is a registered owner." class="button is-danger is-small">
                <span class="icon">
                  <i class="gg-log-off"></i>
                </span>
                <span>Switch notifications</span>
              </button>
            </form>
          </div>
          <div class="panel-block is-justify-content-space-between">
            <p>Close this account</p>
            <form method="POST" action="/api/user/close-account">
              <button title="Deletes all domains, notifications and this user. This cannot be undone" class="button is-danger is-small">
                <span class="icon">
                  <i class="gg-trash"></i>
                </span>
                <span>Close this account</span>
              </button>
            </form>
          </div>
          {{/if}}{{!-- Close Superuser Scope --}}

          {{else}} {{!-- Case for non-admin user --}}
          <p>You cannot make changes to this application.</p>
          {{/if}} {{!-- Close Admin Scope --}}


        </div>
      </div>
    </div>
  </div>
</div>