<div id="domain-notification-modal" class="modal ">
  <div class="modal-background"></div>
  <div class="modal-content">

    <button class="modal-close is-large" aria-label="close"></button>
    <section class="card block">
      <div class="card-content">
        <h2 class="title is-4">Add realtime notifications to your domain</h2>
        <ol class="block ml-5">
          <li class="block">
            Visit <code>{{domain.name}}/ghost/#/settings/integrations/new</code> and click on <b>Add custom integration</b>.
            Give it a name of your choice
          </li>
          <li class="block">
            Click on the new integration and then on <b>Add Webhook</b>. Depending on what notifications you would
            like your readers to receive, add one or many of the following entries (*)
          </li>
          <ul class="block">
            <li>
              For Event <b>Post scheduled</b>, add the following URL:
              <pre><code>/api/notificiation/schedule?key={{domain.key}}</code></pre>
            </li>
            <li>
              For Event <b>Post published</b>, add the following URL:
              <pre><code>/api/notificiation/create?key={{domain.key}}</code></pre>
            </li>
            <li>
              For Event <b>Published post updated</b>, add the following relative URL:
              <pre><code>/api/notificiation/update?key={{domain.key}}</code></pre>
            </li>

          </ul>
          <li class="block">
            Use the <code>ghost-notifier</code> library or build your own logic to
            subscribe to realtime notifications.
            <div class="block">
              <p><b>Subscription URL</b></p>
              <pre><code>/api/domain/{{domain.id}}/notifications/subscribe</code></pre>
            </div>
          </li>
        </ol>
        <p class="block">(*) paths are relative to your hostname, <a href="/help#hostname">read more about it here</a></p>
      </div>
    </section>
  </div>
</div>

<div class="container-fluid">
  <div id="connection-alert" class="message is-hidden">
    <div class="message-header">
      <p>Success!</p>
      <button id="connection-alert-button" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <p></p>
    </div>
  </div>
  <a class="is-link" href="/my-domains/home">
    <span class="icon-text">
      <span class="icon">
        <i class="gg-arrow-left-o"></i>
      </span>
      <span>Back to my domains</span>
    </span>
  </a>

  <header class="level mt-4 ">
    <div class="card mr-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Domain </h2>
        <p class="title is-4">{{domain.name}}</p>
      </div>
    </div>
    <div class="card mx-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Status </h2>
        <p class="title is-4">{{domain.status}}</p>
      </div>
    </div>

    <div class="card mx-2 level-item has-text-centered">
      <div class="card-content">
        <h2 class="heading is-2">Access </h2>
        <p class="title is-4">{{domain.type}}</p>
      </div>
    </div>

    <div class="card ml-2 level-item has-text-centered">
      <div class="card-content">
        <p class="heading">Notifications</p>
        <p id="domain-notification-count" class="title is-4">{{count}}</p>
      </div>
    </div>
  </header>


  <div class="columns">
    <div class="column is-two-third">
      <div class="card block">
        <div class="card-content">
          <div class="is-flex is-justify-content-space-between">

            <h2 class="title is-4">Notifications</h2>
            <div>
              <form method="POST" action="/api/domain/{{domain.id}}/notifications/delete">
                <button title="Delete all notifications for this domain" class="button">
                  <span class="icon">
                    <i class="gg-trash"></i>
                  </span>
                </button>
              </form>
            </div>

          </div>

          <div class="table-container">
            <table class="table is-striped">
              <thead>
                <tr>
                  <th>Ghost Title</th>
                  <th>Ghost URL</th>
                  <th>Ghost Visibility</th>
                  <th>Notification Type</th>
                  <th>Created at</th>
                </tr>
              </thead>
              <tbody id="domain-notification-table-body">
                {{#each notifications}}
                <tr>
                  <td>{{ghostTitle}}</td>
                  <td>{{ghostOriginalUrl}}</td>
                  <td>{{ghostVisibility}}</td>
                  <td>{{type}}</td>
                  <td>{{created}}</td>
                </tr>
                {{/each}}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">

      <div class="panel">
        <header class="panel-heading is-light">
          <h2 class="title is-4">Realtime Server Status</h2>
        </header>

        <ul class="panel-tabs">
          <li class="mx-2 my-1"><a class="is-active">Connection status</a></li>
          <li class="mx-2 my-1"><a>Domain actions</a></li>
          <li class="mx-2 my-1"><a>Danger Zone</a></li>
        </ul>

        <section class="panel-block">
          <div class="block">
            <h3 class="h5"> Connection status:</h3>
            <svg class="mb-1" height="12" width="12">
              <circle id="connection-indicator-sign" cx="6" cy="6" r="6" stroke-width="3" fill="orange" />
            </svg>
            <span id="connection-indicator-text" class="ms-1">Connecting ...</span>
            <button id="connection-control-button" class="button is-primary is-hidden is-block">Reconnect</button>
          </div>
        </section>

        <section class="panel-block">
          <div class="block">
            <h3 class="h5">Domain actions:</h3>
            <div class="is-flex">
              <button id="connection-modal-button" title="Quick overview of how to connect to this domain" class="button is-primary mr-2">
                <span class="icon">
                  <i class="gg-calibrate"></i>
                </span>
                <span>Get started</span>
              </button>
            </div>
          </div>
        </section>

        <section class="panel-block">
          <div class="block">
            <h3 class="h5">Danger Zone</h3>
            <div class="is-flex">
              <form class="mr-2" method="POST" action="/api/domain/{{domain.id}}/toggle-status">
                <button title="Enable / disable this domain" class="button is-warning">
                  <span class="icon">
                    <i class="gg-log-off"></i>
                  </span>
                  <span>On/Off</span>
                </button>
              </form>
              <form method="POST" action="/api/domain/{{domain.id}}/delete">
                <button title="Delete this domain" class="button is-danger">
                  <span class="icon">
                    <i class="gg-trash"></i>
                  </span>
                  <span>Delete</span>
                </button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<script src="/js/domain-notifications.js"></script>